/* Footer Styles */
.footer {
    margin-top: 2%;
    background-color: rgb(0, 102, 255);
    padding: 70px 0;
}

.lecontainer {
    margin: auto;
    max-width: 1170px;
}

.lerow {
    display: flex;
    flex-wrap: wrap;
}

.footer-cool {
    width: 25%;
    padding: 0 15px;
}

.footer-cool h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-cool h4::before {
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50%;
    content: "";
    box-sizing: border-box;
    background-color: #e91e63;
}

.footer-cool ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-cool ul li {
    list-style: none;
}

.footer-cool ul li a {
    list-style: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.footer-cool ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-cool .social-links a {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-cool .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer__copy {
    text-align: center;
    display: block;
    font-size: 14px;
    margin-top: 65px;
    color: #ffffff;
    opacity: 0.7;
    letter-spacing: 0.5px;
}
