/* gallery.css */
/* ... Autres styles ... */

/* Stylisation de la galerie d'images */

.private {
    padding: 60px; /* Haut et bas: 80px, Gauche et droite: 0 */
}

.private h1 {
    font-size: 48px; /* Taille de la police */
    font-weight: 700; /* Épaisseur de la police (gras) */
    text-align: left; /* Aligner le texte à gauche */
    color: #e2e2e2; /* Couleur du texte (par exemple, une nuance de gris foncé) */
    margin-top: 20px; /* Marge en haut du titre */
    margin-bottom: 3%; /* Marge en bas du titre */
    background-color: transparent; /* Couleur de fond (par exemple, une nuance de gris clair) */
}



.private h3 {
    font-size: 24px;
}

.private-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.beach-image {
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.beach-image img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.beach-image:hover img {
 /*   transform: scale(1.1);*/
    background: rgba(0, 0, 0, 0.6);
}

.beach-image:hover {
    background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.beach-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.beach-image:hover::before {
    opacity: 0.8;
}

/* ... Autres styles ... */
