.house-m {
    margin-top: 5%;
   /* background-image: url('images/villas.lagos/lagos10.jpg');*/
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 80%;
    padding: 48px 32px;
    margin: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    background-repeat: no-repeat;
}

/* Styles d'animation pour .house-m */
.house-m.fade-in {
    opacity: 1;
    /* L'opacité devient 1 pour montrer l'élément */
    transform: translateY(0);
    /* Retour à la position d'origine */
}

/* Style d'animation pour la section .house-m */
.house-m.animate {
    opacity: 1;
    transform: translateY(0);
}

.lagos-titre,
.lagos-gallery {
    margin: auto;
    width: 85%;
    display: flex;
    padding: 48px 32px;
}

.lagos-titre .left {
    width: 33.333%;
}

.lagos-titre .center {
    width: 50%;
    margin-top: -3%;
}

.lagos-titre .right {
    width: 16.333%;
}

.lagos-titre .left {
    padding: 10px;
    align-content: center;
    align-items: center;
}

.lagos-titre .center {
    padding: 10px;
    text-align: center;
    display: flex;
}

.axe {
    padding: 10px 10px 10px 10px;
    width: 33.333%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.axe img {
    color: #00b7ff;
    width: 85px;
    margin-bottom: 5%;
}

.axe span {
    font-size: 25px;
    font-weight: bold;
}

.lagos-titre .right {
    padding: 10px;
    text-align: right;
}

.lagos-titre .right a {
    display: inline-block;
    background-color: #009688;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px 50px 50px 50px;
    transition: background-color 0.3s ease;
}

.lagos-titre .right a:hover {
    background-color: #00796B;
}


.lagos-description {
    padding: 48px 32px;
    /*  padding: 100px 0px 100px 0px;*/
    margin: auto;
    width: 85%;
    display: flex;
}

.lagos-description .left,
.lagos-description .center,
.lagos-description .right {
    width: 33.333%;
}

.lagos-description .left,
.lagos-description .center,
.lagos-description .right {
    padding: 32px 25px 25px 25px;
}

.lagos-description .left h1 {
    margin-left: -3%;
}

.lagos-description .center h1 {
    text-align: start;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.lagos-description .center p {
    line-height: 29px;
    text-align: left;
}

.lagos-description .right .bottom {
    margin-bottom: 15px;
}

.lagos-description .right p {
    line-height: 29px;
    text-align: right;
}

.lagos-gallery h2 {
    width: 25%;
    font-weight: normal;
    text-transform: uppercase;
}


.lagos-gallery img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    transition: transform 0.3s ease-in-out;

}

.lagos-gallery img:hover {
    transform: scale(1.05);
    /* Augmente la taille de l'image au survol */
}

.lagos-gallery .grid-wrapper {
    display: grid;
    width: 75%;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}

.lagos-gallery .grid-wrapper .wide {
    grid-column: span 2;

}

.lagos-gallery .grid-wrapper .tall {
    grid-row: span 2;

}

.lagos-gallery .grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;

}

.lagos-gallery .grid-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lagos-gallery .grid-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.lagos-see {
    padding: 48px 32px;
    margin: auto;
    width: 85%;
}



/* Conteneur principal du carrousel */
.lagos-see .slider {
    height: 100%;
    margin: auto;
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Pseudo-éléments pour créer un dégradé sur les côtés du carrousel */
.lagos-see .slider::before,
.lagos-see .slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15px; /* Largeur des dégradés (ajustez selon vos préférences) */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.lagos-see .slider::before {
    left: 0;
    top: 0;
}

.lagos-see .slider::after {
    right: 0;
    top: 0;
}

.slider-track {
    display: flex;
    margin-top: 10%;
  /*  width: 4500px;*/
    /* Ajustez cette valeur en pixels en fonction de la largeur totale de vos éléments .slide */
 animation: miamih 40s linear infinite;
}

@keyframes miamih {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-4500px);
        /* Ajustez cette valeur en pixels en fonction de la largeur totale de vos éléments .slide */
    }
}
/* Conteneur pour les diapositives (slides) */
.lagos-see .slider .slide {
    height: 300px;
    width: 650px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Transitions pour l'effet de zoom et les ombres */
    margin: 20px; /* Marge entre les diapositives (ajustez selon vos préférences) */
}

/* Effet de zoom au survol */
.lagos-see .slider .slide:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Ombre douce au survol */
    filter: brightness(1.2); /* Luminosité accrue au survol */
}

/* Style de l'image à l'intérieur de la diapositive */
.lagos-see .slider .slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CSS pour arrêter l'animation de défilement (si nécessaire)*/
.stop-scrolling {
    animation-play-state: paused !important;
}



/* Style pour la div .villas-contenu */
.lagos-see .slider .slide .villas-contenu {
    position: absolute;
    top: 50%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: transparent;
    backdrop-filter: blur(5px);
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 24px;
}

/* Style du texte dans la div .villas-contenu */
.lagos-see .slider .slide .villas-contenu .text p a, .miami-see .slider .slide .villas-contenu .text span a{
    font-size: 20px; /* Taille de police (ajustez selon vos préférences) */
    color: rgb(0, 195, 255); /* Couleur du texte (ajustez selon vos préférences) */
    margin: 0;
    padding: 10px;
    margin-bottom: 2%;
    line-height: 5px;
    font-size: 34px;
    transition: opacity 0.3s ease; /* Transition pour l'opacité du texte */
}

.lagos-see .slider .slide .villas-contenu .text span a {
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: 24px;
}
/* Ajustez l'opacité de la div .villas-contenu au survol */
.lagos-see .slider .slide:hover .villas-contenu {
    opacity: 1;
}

/* Ajustez l'espacement entre les éléments .icons */
.lagos-see .slider .slide .villas-contenu .icons {
    margin-top: 5%; /* Espacement vers le haut */
}

/* Style pour les éléments dans la div .icons */
.lagos-see .slider .slide .villas-contenu .icons div img  {
    color: rgb(0, 195, 255); /* Couleur du texte (blanc) */
}

/* Style spécifique pour les éléments de texte dans la div .icons */
.lagos-see .slider .slide .villas-contenu .icons span {
    color: rgb(0, 195, 255); /* Couleur du texte (blanc) */
    margin-bottom: 5%;
    font-size: 24px;
}
